<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="/assets/bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
<<<<<<< HEAD
<<<<<<< HEAD
    <link href="/assets/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

=======

    <link href="/assets/css/layout.css" rel="stylesheet">
>>>>>>> a983f3c... Added css files and fixed behat tests
=======
    <link href="/assets/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <link href="/assets/css/layout.css" rel="stylesheet">
>>>>>>> 2fd9600595b6cde7b3369885703970d6525117b2
</head>

<body>

{% include "Partials/navbar.html.twig" %}

<div class="container">

<<<<<<< HEAD
    <!-- Your site -->

    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Your site ends -->
</div>

<<<<<<< HEAD
=======

{% include "Partials/actionbar.html.twig" %}

>>>>>>> a983f3c... Added css files and fixed behat tests
=======
    <div id="content">{% block content %}{% endblock %}</div>

</div>

{% include "Partials/actionbar.html.twig" %}

>>>>>>> 2fd9600595b6cde7b3369885703970d6525117b2
{% include "Partials/footer.html.twig" %}
<script>
    $(document).ready(function () {
        $.material.init();
        {% block jsToExecuteOnDocumentReady %}{% endblock %}
    });
</script>
</body>

</html>